

* {
    background-color: bisque;
    text size: 13px;
    font-family: Arial, sans-serif;
}
p    {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}
body {
   margin: 13px;
   padding: 20px;
 }
 
 h1 {
    color: navy;
    font-size: 3rem;
    text-align: center;
  }
 
 h2 {
    color: navy;
    font-size: 2.5rem;
 }
 img {
    padding: 20px;
    margin: 30px;
    border: 5px solid rgb(0, 0, 0);
 }
